#   ---------------------------------------
#   GENERAL
#   ---------------------------------------

alias ls='ls -la'                           # Preferred 'ls' implementation
alias edit='atom'                           # edit:         Opens any file in Atom editor
alias f='open -a Finder ./'                 # f:            Opens current directory in MacOS Finder
alias ~="cd ~"                              # ~:            Go Home
alias c='clear'                             # c:            Clear terminal display
alias which='type -all'                     # which:        Find executables
alias path='echo -e ${PATH//:/\\n}'         # path:         Echo all executable Paths
alias show_options='shopt'                  # Show_options: display bash options settings
alias fix_stty='stty sane'                  # fix_stty:     Restore terminal settings when screwed up

#   ---------------------------------------
#   WEB DEVELOPMENT
#   ---------------------------------------

alias apacheEdit='sudo nano /etc/httpd/httpd.conf'      # apacheEdit:       Edit httpd.conf
alias apacheRestart='sudo apachectl graceful'           # apacheRestart:    Restart Apache
alias editHosts='sudo nano /etc/hosts'                  # editHosts:        Edit /etc/hosts file
